form.mx-auto(action="/search?",method="get")
  div.flex.bg-white.shadow-md.rounded-full.mx-auto.p-4

    //-condition
    div.flex.flex-col.gap-1.border-r-2.border-gray-200.px-4
      label Condition 
      input.border-transparent(placeholder="Type condition",class="focus:outline-none",name="condition")

    //-location
    div.flex.flex-col.gap-1.border-r-2.border-gray-200.px-4
      label Location 
      div.flex
        div.w-6.pt-1.mr-2
          img(src="../../../assets/icons/gps-pointer.svg")
        input.border-transparent(placeholder="Type condition",class="focus:outline-none",name="location")

    //-distance
    div.flex.flex-col.gap-1.border-r-2.border-gray-200.px-4
      label Distance 
      div.flex
        input.border-transparent(placeholder="Type condition",class="focus:outline-none",name="distance")
        div.w-4
          img(src="../../../assets/icons/drop-down.svg")

    //-age
    div.flex.flex-col.gap-1.px-4
      label Age 
      input.border-transparent(placeholder="Type age",class="focus:outline-none",name="age")

    //- button
    button(class="h-14 w-[143px] flex justify-center items-center bg-warm500 bg-[#ffb600] rounded-full",type="submit")
      div.w-4
          img(src="../../../assets/icons/search.svg")

  

      

 
