.flex.gap-4.flex-wrap.justify-center
  // Aquí puedes agregar contenido
  .bg-gray-200.p-2.rounded-md.text-red-500 Contenido 
  .bg-gray-200.p-2.rounded-md Contenido 2
  .bg-gray-200.p-2.rounded-md contenido 3
  .bg-gray-200.p-2.rounded-md contenido 2
  .bg-gray-200.p-2.rounded-md contenido 5
  .bg-gray-200.p-2.rounded-md.border-solid.border-red-500 contenido 6