div(class="flex flex-col max-w-screen-lg mx-auto my-10")
  div(class="flex flex-row")
    div(class="flex flex-col relative")
      input(id="input1" type="text" class="border-2 border-gray-300 p-2 w-full" placeholder="Input 1")
      label(for="input1" class="absolute top-0 left-0") enfermedad
    div(class="flex flex-col relative")
      input(id="input2" type="text" class="border-2 border-gray-300 p-2 w-full" placeholder="Input 2")
      label(for="input2" class="absolute top-0 left-0") Input 2
    div(class="flex flex-col relative")
      input(id="input3" type="text" class="border-2 border-gray-300 p-2 w-full" placeholder="Input 3")
      label(for="input3" class="absolute top-0 left-0") Input 3
  div(class="flex flex-row")
    div(class="flex flex-col relative")
      select(id="dropdown" class="border-2 border-gray-300 p-2 w-full")
        option(value="1") Dropdown 1
        option(value="2") Dropdown 2
        option(value="3") Dropdown 3
      label(for="dropdown" class="absolute top-0 left-0") Dropdown
    div(class="flex flex-col relative")
      input(id="searchbar" type="text" class="border-2 border-gray-300 p-2 w-full" placeholder="Searchbar")
      label(for="searchbar" class="absolute top-0 left-0") Searchbar
