div
  .mb-8
    h1.text-4xl.text-center.my-4 ¡Bienvenido a mi proyecto Vanilla!

  include ../search/searchComponent

  p.text-center.text-xl Somo el primer buscador en argentina de ensayos clinicos.